
<h2>Question <%= @question.position %> of <%= @question.quiz.questions.count %></h2>

<% if @question.quiz.kind == 1 %>
    <%= render 'kind1' %>
<% elsif @question.quiz.kind == 2 %>
    <%= render 'kind2' %>
<% end %>