<h2>Your Word Lists:</h2>
<% @lists.each do |l| %>
	<%= div_for l do %>
		<%= l.name %>
		<%= link_to "Edit", edit_list_path(l) %>
		<%= link_to "Delete", list_path(l), method: 'delete', remote: true %>
	<% end %>
<% end %>