<div class="panel panel-default">
	<div class="panel-heading">Take a quiz!</div>
	<div class="panel-body">
		<div class="span-7 text-center">
		<p><%= link_to "New Quiz", new_quiz_path, class: "btn btn-info btn-lg" %>
			<%= link_to "Lists", lists_path, class: "btn btn-info btn-lg" %><br />
		</p>
		</div>
	</div>
	<div class="container">
	 	<div class="row centered">
	 		<div class="quizzes">
			<%= render @quizzes %>
			</div>
		</div> <!--end row-centered-->
	</div> <!--container-->
</div> <!--panel-->

<div class="text-center">
	<%= will_paginate @quizzes, renderer: BootstrapPagination::Rails %>
</div>