<h2>Take or make a quiz</h2>

<%= link_to "New Quiz", new_user_quiz_path(current_user) %>

<% @categories.each do |cat| %>
	<li>
		<%= link_to "New "+cat.name+" Quiz", new_user_quiz_path(current_user) %>
	</li>
<% end %>