<h2>Take or make a quiz</h2>

<%= link_to "New Quiz", new_user_quiz_path(current_user) %></br>

Your quizzes:
<% @quizzes.each do |quiz| %>
	<li>
		<%= link_to quiz.name, user_quiz_path(current_user, quiz) %> <%= link_to "Take quiz", edit_user_quiz_question_path(current_user, quiz, id: 1) %>
	</li>
<% end %>