<table class = "table table-striped">
<tr>
	<th>Word</th>
	<th>Definition</th>
</tr>
<% @quiz.list.words.each do |word| %>
<tr>
	<td>
		<%= word.name %>
	</td>
	<td>
		<%= word.definition %>
	</td>
</tr>
<% end %>