<h2>About</h2>

<p>We're using data from:</p>
<ul>
	<li><%= link_to "New General Service List", "http://newgeneralservicelist.org" %></li>
	<li><%= link_to "British National Corpus", "http://www.natcorp.ox.ac.uk/" %></li>
	<li><%= link_to "Worknik API", "http://developer.wordnik.com/" %></li>
</ul>

<p>Real content coming soon!</p>