<div class="jumbotron">
	<% if current_user %>
	<h1>Hi again!</h1>
	<p>Take a quiz or check your progress</p>
	<%= link_to "Take a quiz!", quizzes_path, class: "btn btn-primary btn-lg" %>
	<%= link_to "Check stats", user_path(current_user), class: "btn btn-primary btn-lg" %>
	<% else %>
  <h1>Perfect Your English<h/1>
  <h2>-- with millions of authentic examples!</h2>
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	<% end %>
    </div>
    <div class= "container">
      <h1 id="download" class="page-header">How it works:</h1>
      
      <div class="row bs-downloads" style="margin-bottom: 20px;">
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Efficient</h3>
      <p>Practice the New General Service List: 3000 words that make up 90% of the English Language</p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip" class="btn btn-lg btn-outline" role="button" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a>
    </div>
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Accurate</h3>
      <p>All examples pulled from authentic texts</p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip" class="btn btn-lg btn-outline" role="button" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a>
    </div>
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Massive</h3>
      <p>100 million examples</p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip" class="btn btn-lg btn-outline" role="button" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a>
    </div>
    </div>
      <div class="row bs-downloads" style="margin-bottom: 20px;">
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Variable</h3>
      <p>3 types of quizzes: multiple choice, matching and unscrambling. More to come!</p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip" class="btn btn-lg btn-outline" role="button" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a>
    </div>
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Trackable</h3>
      <p>Watch your progress grow</p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip" class="btn btn-lg btn-outline" role="button" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a>
    </div>
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Personalized</h3>
      <p>TOEFL, TOEIC, IELTS? Copy and paste your requirements and we'll do the rest!</p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.1.1/bootstrap-3.1.1-dist.zip" class="btn btn-lg btn-outline" role="button" onclick="_gaq.push(['_trackEvent', 'Getting started', 'Download', 'Download compiled']);">Download Bootstrap</a>
    </div>
      </div>
</div>