<h2>Wordy users around the world</h2>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<% if current_user.latitude == nil %>
<p>You're missing from the map! Why not <%= link_to "update your profile", edit_user_registration_path(current_user) %>?</p>
<% end %>


<script type="text/javascript">
	handler = Gmaps.build('Google');
		handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){


			markers = handler.addMarkers(<%=raw @hash.to_json %>);

			handler.bounds.extendWith(markers);
			handler.fitMapToBounds();
			handler.getMap().setZoom(2)
		});
</script>
