<h2><%= @user.name %>'s profile</h2>
Your wordlists:
<% @user.lists.each do |list| %>
<li>
	<%= link_to list.name, [@user, @list] %>
</li>
<% end %>
<p>
<%= link_to "New list", new_user_list_path(@user) %>
</p>