<p><%= @user.email %>'s profile<p>


The NGSL lists:
<% @lists.each do |list| %>
<li>
	<%= link_to list.name, sys_list_path(list.name) %>
</li>
<% end %>

<%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-primary" %>