@import "bootstrap";

body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: 0 auto -60px;
}


#footer {
	height: 60px;
}

#wrap > .container {
	padding: 60px 15px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

#header > .container {
	padding-right: 15px;
}